[Desktop Entry]
Name=Install HorneroOS (Provisional)
GenericName=System Installer
Comment=Install a catalogue-defined HorneroOS edition
Exec=sudo /usr/bin/calamares
Icon=hornero-installer
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
